<div class="item">
  <div class="item__container">
    <a href="/watch?v=rxHVlTM_iNk" class="item__anchor">
      <div class="item__content">
        <img
          src="https://i.ytimg.com/vi/rxHVlTM_iNk/hq720.jpg?sqp=-oaymwEZCNAFEJQDSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCampm55OmViCyi2bfzRX_onNJvTw"
          alt="content-image"
          class="item__thumbnail"
        />
      </div>
    </a>
    <div class="item__footer">
      <div class="item__image">
        <img
          src="https://yt3.ggpht.com/a-/AOh14Giua-ttGll71FhMfaXNvZkX0jbGoqefbeHd4w=s68-c-k-c0x00ffffff-no-rj-mo"
          alt="channel-image"
          class="item__channel-image"
        />
      </div>
      <a href="/channel/UCrqAGUPPMOdo0jfQ6grikZw" class="description">
        <div class="description__container">
          <div>
            <h3 class="description__title">
              Stuck At Home? Learn To Code For Free!
            </h3>
          </div>
          <div class="description__channel">
            <span>Colt Steele</span>
          </div>
          <div class="description__info">
            <span>11k views • 3 days ago</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
