@import '../../../assets/_variables.scss';

.item {
  margin: 0 0.5rem 2.5rem 0.5rem;
  display: flex;
  flex-direction: column;

  &__content {
    display: block;
    height: 100%;
  }

  &__thumbnail {
    width: 100%;
  }
}

.description {
  text-decoration: none;
  color: lighten($primary-text-color, 20%);

  &__wrapper {
    display: flex;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 0.3rem;
  }

  &__image {
    margin: 0.3rem;
  }

  &__channel-image {
    border-radius: 50%;
    width: 2.25rem;
  }

  &__title {
    font-size: 1rem;
    margin: 0.3rem 0;
  }

  &__channel {
    font-size: 0.8rem;
    color: lighten($primary-text-color, 20%);
  }

  &__info {
    font-size: 0.8rem;
    color: lighten($primary-text-color, 20%);
  }
}
