<div class="item">
  <div class="item__container">
    <a [href]="'/watch?v=' + browseItem.id" class="item__anchor">
      <div class="item__content">
        <img
          [src]="browseItem.thumbnail"
          alt="content-image"
          class="item__thumbnail"
        />
      </div>
    </a>
    <a [href]="'/channel/' + browseItem.channelId" class="description">
      <div class="description__wrapper">
        <div class="description__image">
          <img
            [src]="browseItem.channelThumbnail"
            class="description__channel-image"
          />
        </div>
        <div class="description__container">
          <div>
            <h3 class="description__title">
              {{ browseItem.title | slice: 0:40 }}
            </h3>
          </div>
          <div class="description__channel">
            <span>{{ browseItem.channel }}</span>
          </div>
          <div class="description__info">
            <span>{{ browseItem.views }} • 3 days ago</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
