<header class="header">
  <div class="header__container">
    <button class="header__toggle">
      <i class="fas fa-bars fa-lg"></i>
    </button>
    <a
      href="/"
      title="Página inicial do YouTube"
      id="logo"
      class="header__brand"
    >
      <img
        src="../../assets/yt_logo_light.svg"
        alt="logo"
        class="header__logo"
      />
    </a>
    <div class="header__searchbox">
      <app-header-searchbox></app-header-searchbox>
    </div>
    <div class="header-menu">
      <div class="header-menu__wrapper">
        <a class="header-menu__item" title="Criar um video e mais">
          <button type="button" class="header-menu__button">
            <i class="fas fa-video"></i>
          </button>
        </a>
      </div>
      <div class="header-menu__wrapper">
        <a class="header-menu__item" title="Aplicativos do YouTube">
          <button type="button" class="header-menu__button">
            <i class="fas fa-th"></i>
          </button>
        </a>
      </div>
      <div class="header-menu__wrapper">
        <a class="header-menu__item" title="Notificações">
          <button type="button" class="header-menu__button">
            <i class="fas fa-bell"></i>
          </button>
        </a>
        <div class="header-menu__notification-count">
          9+
        </div>
      </div>
      <div class="header-menu__wrapper">
        <a class="header-menu__item" title="Usuário">
          <button type="button" class="header-menu__button">
            <i class="fas fa-user"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</header>
