@import '../../assets/_variables.scss';

.main-header {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  background-color: $primary-background-color;

  &__container {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    height: 100%;
  }

  &__brand {
    height: 20px;

    img {
      height: 100%;
    }
  }

  &__toggle {
    border: none;
    background-color: transparent;
    margin: 0 1rem 0 0;

    i {
      height: 50px;
    }
  }

  &__searchbox {
    width: 100%;
  }
}
