@import '../../assets/_variables.scss';

.light {
  --text-color: #212121;
  --background: #ffffff;
  --background-input: #ffffff;
  --background-button: #f8f8f8;
  --background-button-hover: #e8e8e8;
  --text-color-secondary: #ffffff;
  --logo-image: url('../../assets/yt_logo_light.svg');
  --border-color: #d3d3d3;
  --search-icon-color: #606060;
  --search-icon-color-hover: #606060;
}

.dark {
  --text-color: #ffffff;
  --background: #212121;
  --background-input: #000000;
  --background-button: #303030;
  --background-button-hover: #303030;
  --text-color-secondary: #212121;
  --logo-image: url('../../assets/yt_logo_dark.svg');
  --border-color: #303030;
  --search-icon-color: #909090;
  --search-icon-color-hover: #c0c0c0;
}

.header {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  background-color: var(--background);
  z-index: 10;

  &__container {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__brand {
    height: 1.1rem;
  }

  &__logo {
    height: 24px;
    width: 80px;
    background: var(--logo-image);
    background-repeat: no-repeat;
  }

  &__searchbox {
    width: 100%;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  height: 2.5rem;

  &__wrapper {
    margin-right: 0.5rem;
    position: relative;
  }

  &__wrapper--spaced {
    margin-right: 1rem;
  }

  &__item {
    cursor: pointer;
  }

  &__button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--background);
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--text-color);
    font-size: 1rem;
  }

  &__notification-count {
    position: absolute;
    top: 4px;
    right: 0;
    color: white;
    background-color: red;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    line-height: 1.1rem;
    font-size: 0.6rem;
    text-align: center;
    cursor: pointer;
  }
}

.searchbox {
  margin: 0 60px;
  flex: 1;

  &__form {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    justify-content: center;
  }

  &__container {
    border: 1px solid var(--border-color);
    border-right: none;
    padding: 2px 6px;
    border-radius: 2px;
    width: 100%;
    background: var(--background-input);
  }

  &__input {
    border: none;
    height: 1.6rem;
    outline: none;
    font-size: 1rem;
    width: 100%;
    background: inherit;
  }

  &__button {
    outline: none;
    cursor: pointer;
    width: 4.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0 2px 2px 0;
    background-color: var(--background-button);

    &:hover {
      background-color: var(--background-button-hover);

      .searchbox__icon {
        color: var(--search-icon-color-hover);
      }
    }
  }

  &__icon {
    color: var(--search-icon-color);
    opacity: 0.6;
    font-size: 20px;
    font-weight: 500;
  }
}
