<header class="header">
  <div class="header__container">
    <div class="header-menu">
      <div class="header-menu__wrapper header-menu__wrapper--spaced">
        <button type="button" class="header-menu__button">
          <span class="material-icons">
            menu
          </span>
        </button>
      </div>
      <a
        href="/"
        title="Página inicial do YouTube"
        id="logo"
        class="header__brand"
      >
        <img
          src="../../assets/yt_logo_light.svg"
          alt="logo"
          class="header__logo"
        />
      </a>
    </div>
    <div class="header__searchbox">
      <app-header-searchbox></app-header-searchbox>
    </div>
    <div class="header-menu">
      <div class="header-menu__wrapper">
        <a class="header-menu__item" title="Create a video and more">
          <button type="button" class="header-menu__button">
            <span class="material-icons">
              video_call
            </span>
          </button>
        </a>
      </div>
      <div class="header-menu__wrapper">
        <a class="header-menu__item" title="YouTube apps">
          <button type="button" class="header-menu__button">
            <span class="material-icons">
              apps
            </span>
          </button>
        </a>
      </div>
      <div class="header-menu__wrapper">
        <a class="header-menu__item" title="Notifications">
          <button type="button" class="header-menu__button">
            <span class="material-icons">
              add_alert
            </span>
          </button>
        </a>
        <div class="header-menu__notification-count">
          9+
        </div>
      </div>
      <div class="header-menu__wrapper">
        <a class="header-menu__item" title="User">
          <button type="button" class="header-menu__button">
            <span class="material-icons">
              account_circle
            </span>
          </button>
        </a>
      </div>
    </div>
  </div>
</header>
