.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    margin-left: 0.7rem;
    font-weight: 500;
    font-size: 1.25rem;
  }

  &__container {
    display: grid;
    justify-content: center;

    &--horizontal {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @media (max-width: 120rem) {
    &__container {
      &--horizontal {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }

  @media (max-width: 112rem) {
    &__container {
      &--horizontal {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  @media (max-width: 70rem) {
    &__container {
      &--horizontal {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media (max-width: 55rem) {
    &__container {
      &--horizontal {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (max-width: 32rem) {
    &__container {
      &--horizontal {
        grid-template-columns: repeat(1, auto);
      }
    }
  }
}
