.list {
  &__title {
    margin-left: 1rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
  }

  @media (max-width: 120rem) {
    &__container {
      grid-template-columns: repeat(4, auto);
    }
  }

  @media (max-width: 70rem) {
    &__container {
      grid-template-columns: repeat(3, auto);
    }
  }

  @media (max-width: 55rem) {
    &__container {
      grid-template-columns: repeat(2, auto);
    }
  }

  @media (max-width: 32rem) {
    &__container {
      grid-template-columns: repeat(1, auto);
    }
  }
}
