<div class="sidebar">
  <div class="sidebar__menu">
    <div
      routerLinkActive="sidebar__item--active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      class="sidebar__item"
      title="Home"
    >
      <span class="material-icons sidebar__icon">
        home
      </span>
      <span class="sidebar__title">
        Home
      </span>
    </div>
    <div
      routerLink="feed/trending"
      title="Trending"
      routerLinkActive
      #rla="routerLinkActive"
      [ngClass]="{ sidebar__item: true, 'sidebar__item--active': rla.isActive }"
    >
      <img
        [src]="
          rla.isActive
            ? '../../assets/yt_trending-active.svg'
            : '../../assets/yt_trending.svg'
        "
        alt="trending"
        class="sidebar__icon"
      />
      <span class="sidebar__title">
        Trending
      </span>
    </div>
    <div
      routerLinkActive="sidebar__item--active"
      routerLink="feed/subscriptions"
      class="sidebar__item"
      title="Subscriptions"
    >
      <span class="material-icons sidebar__icon sidebar__icon--small">
        subscriptions
      </span>
      <span class="sidebar__title">
        Subscriptions
      </span>
    </div>
    <div
      routerLinkActive="sidebar__item--active"
      routerLink="feed/library"
      class="sidebar__item"
      title="Library"
    >
      <span class="material-icons sidebar__icon">
        video_library
      </span>
      <span class="sidebar__title">
        Library
      </span>
    </div>
  </div>
</div>
