.watcher {
  display: flex;
  height: 100%;
  // justify-content: center;

  &__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__player {
    position: relative;
    width: 100%;
    height: cal((9 / 16) * 100vw);
    max-height: calc(100vh - 169px);
    min-height: 480px;
  }
}
