$primary-text-color: #212121;
$secondary-text-color: #ffffff;

$primary-background-color: #ffffff;
$secondary-background-color: #212121;
$tertiary-background-color: #f9f9f9;

$divider-color: #dbdbdb;
