@import '../../../assets/_variables.scss';

.searchbox {
  margin: 0 60px;
  flex: 1;

  &__form {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    justify-content: center;
  }

  &__container {
    border: 1px solid #cccccc;
    border-right: none;
    padding: 2px 6px;
    border-radius: 2px;
    width: 100%;
  }

  &__input {
    border: none;
    height: 1.5rem;
    outline: none;
    font-size: 1rem;
    width: 100%;
  }

  &__button {
    outline: none;
    cursor: pointer;
    width: 4.5rem;
    border: 1px solid #d3d3d3;
    border-radius: 0 2px 2px 0;
    background-color: #f8f8f8;

    &:hover {
      background-color: darken(#f8f8f8, 5%);
    }
  }

  &__icon {
    color: lighten($primary-text-color, 22%);
    opacity: 0.6;
    font-size: 20px;
    font-weight: 500;
  }
}
