/* You can add global styles to this file, and also import other style files */
@import 'assets/_variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $secondary-background-color;
  height: 100%;
  width: 100%;
  color: $primary-text-color;
}

body {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-progress-bar {
  height: 2px !important;

  .mat-progress-bar-buffer {
    background: #e4e8eb;
  }

  .mat-progress-bar-fill::after {
    background: #fa7171;
  }
}
