/* You can add global styles to this file, and also import other style files */
@import 'assets/_variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $secondary-background-color;
}
